$main-blue: #323264;
$main-alt: #46466E;
$grey-soft: #686887;
$white: #FFFFFF;
$black: #000000;
$accent: #F0145A;
$blue-regular:#24A3FF;
$blue-hover: #0085FF;
$blue-active: #006CCF;
$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator:#E6E6F0;
$grey-shadow-dark:#CACADB;
$grey-shadow-light:#E7E7F2;
$gradiend: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$soft-gradiend: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$red-gradiend: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$supersoft-gradiend:linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$red-text-gradiend:linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$red-text-reversed:linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$blue:#1C4280;
$dark-blue:#143646;
$orange:#F48B30;
$purple:#9E4DC3;
$light-orange:#FD9339;
$grey1: #E2E2E4;
$dark-red:#C71C36;
$aquamarine:#DCF3F9;
$grey2:#EAEAEA;
$plum: #282240;
$mid-blue:#1D4568;
$black:#000000;